@let bodyViewHeight = screenSizeService.getBodyViewHeightPx();

<div class="body-view-container" [ngStyle]="{ height: bodyViewHeight }">  <div class="centered-container">
    <div class="title-header corner-borders hover-glow-text">
      {{ 'CAREER_HISTORY.TITLE' | translate }}
    </div>

    <div class="work-history-container corner-borders">
      <div class="work-history-item hover-glow-text" *ngFor="let item of workHistory">
        <div class="title">
          <span class="bold">{{ item[currentLanguage].title }}</span> -
          <span class="company" [class.clickable]="!!item[currentLanguage].companyURL" tabindex="0" (click)="openLink(item[currentLanguage].companyURL || '')" (keydown)="onKeydown($event, item[currentLanguage].companyURL || '')">
            {{ item[currentLanguage].company }}
          </span>
        </div>
        <div class="timespan">
          {{ item[currentLanguage].startDate }} - {{ item[currentLanguage].endDate || ('CAREER_HISTORY.PRESENT' | translate) }}
        </div>
        <div class="description" *ngIf="item[currentLanguage].description">{{item[currentLanguage].description}}</div>
      </div>
    </div>

    <app-nav-footer [previousButton]="{ localizedText: 'PROJECTS.TITLE', url: paths.PROJECTS}" [nextButton]="{ localizedText: 'ACADEMIC_HISTORY.TITLE', url: paths.ACADEMIC_HISTORY}" [compactModeWidthThreshold]="800"></app-nav-footer>
  </div>
</div>
