.title-header {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .title-header {
    font-size: 1.4rem !important;
    line-height: 1.4rem !important;
  }
}

.academic-history-container {
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;

    .institute {
      text-decoration: underline;
    }
  }

  @media (max-width: 650px) {
    .title {
      font-size: 1rem !important;
    }
  }

  .timespan {
    font-weight: bold;
  }

  .timespan, .description {
    margin-top: 1rem;
  }

  .description {
    white-space: pre-wrap;
  }
}

.academic-history-item {
  display: flex;
  flex-direction: column;

  .credential-button {
    width: min-content;
    margin-top: 1rem;
    align-self: flex-end;
  }
}

.academic-history-item:not(:last-of-type) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px white solid;
}

app-nav-footer {
  margin-top: 1rem;
}
