@let bodyViewHeight = screenSizeService.getBodyViewHeightPx();

<div class="body-view-container" [ngStyle]="{ height: bodyViewHeight }">  <div class="centered-container">
    <div class="title-header corner-borders hover-glow-text">
      {{ 'ACADEMIC_HISTORY.TITLE' | translate }}
    </div>

    <div class="academic-history-container corner-borders">
      <div class="academic-history-item hover-glow-text" *ngFor="let item of academicHistory">
        <div class="title">
          <span class="bold">{{item[currentLanguage].title}}</span> -
          <span class="institute" tabindex="0" [class.clickable]="!!item[currentLanguage].instituteURL" (click)="openLink(item[currentLanguage].instituteURL || '')" (keydown)="onKeydown($event, item[currentLanguage].instituteURL || '')">
            {{item[currentLanguage].institute}}
          </span>

        </div>
        <div class="timespan">
          {{ item[currentLanguage].startDate }} - {{ item[currentLanguage].endDate || ('ACADEMIC_HISTORY.PRESENT' | translate) }}
        </div>
        <div class="description">{{item[currentLanguage].description}}</div>

        <div class="credential-button" *ngIf="item[currentLanguage].credential">
          <app-nav-button localizationString="SHARED.CREDENTIAL" [disableRouting]="true" (click)="openLink(item[currentLanguage].credential!)"></app-nav-button>
        </div>
      </div>
    </div>

    <app-nav-footer [previousButton]="{ localizedText: 'CAREER_HISTORY.TITLE', url: paths.CAREER_HISTORY}" [nextButton]="{ localizedText: 'COMPLEMENTARY_EDUCATION.TITLE', url: paths.COMPLEMENTARY_EDUCATION}" [compactModeWidthThreshold]="800"></app-nav-footer>
  </div>
</div>
