.info-header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 2rem;

  .picture-container {
    background-color: white;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid white 0.5rem;
  }

  .data-container {
    align-self: center;
    height: 10rem;
    align-content: center;
    padding-right: 1rem;
    margin-left: 1rem;

    .name {
      font-size: 2rem;
      font-weight: bold;
    }

    .info {
      font-size: 1.5rem;
      font-style: italic;
    }
  }
}

.info-body {
  display: flex;
  flex-direction: row;

  .summary-container {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem;
    flex: 5;
    align-items: center;
  }

  .nav-buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1rem;

    app-nav-button:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}
