<div class="outer-container">
  <div class="centered-container">
    <div class="info-header corner-borders hover-glow-text">
      <div class="data-container">
        <div class="name">{{ 'MAIN_PAGE.NAME' | translate }}</div>
        <div class="info">{{ 'MAIN_PAGE.ROLE' | translate }}</div>
        <div class="info">{{ 'MAIN_PAGE.CERTIFICATIONS' | translate }}</div>
        <div class="info">{{ 'MAIN_PAGE.LOCATION' | translate }}</div>
      </div>
    </div>

    <div class="info-body">
      <div class="summary-container corner-borders hover-glow-text">{{'MAIN_PAGE.SUMMARY' | translate}}</div>

      <div class="nav-buttons-container">
        <app-nav-button localizationString="CAREER_HISTORY.TITLE" [routerUrl]="'./../careerHistory'"></app-nav-button>

        <app-nav-button localizationString="ACADEMIC_HISTORY.TITLE" [routerUrl]="'./../academicHistory'"></app-nav-button>

        <app-nav-button localizationString="COMPLEMENTARY_EDUCATION.TITLE" [routerUrl]="'./../complementaryEducation'"></app-nav-button>
      </div>
    </div>
  </div>
</div>
