.info-header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;

  .picture-container {
    background-color: white;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid white 0.5rem;
  }

  .data-container {
    align-self: center;
    height: 10rem;
    align-content: center;

    .name {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
    }

    @media (max-width: 400px) {
      .name {
        font-size: 1.3rem !important;
      }
    }

    .info {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-style: italic;
      margin-top: 0.5rem;
    }

    @media (max-width: 520px) {
      .info {
        font-size: 1rem !important;
      }
    }

    @media (max-width: 400px) {
      .info {
        font-size: 0.8rem !important;
      }
    }
  }
}

.info-body {
  display: flex;
  flex-direction: row;

  .summary-container {
    display: flex;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    flex: 5;
    align-items: center;
    white-space: pre-wrap;
  }

  @media (max-width: 400px) {
    .summary-container {
      font-size: 1rem;
    }
  }

  .nav-buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1rem;
    justify-content: space-between;

    app-nav-button {
      width: 15rem;
      flex: 1;
    }

    app-nav-button:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 600px) {
    .nav-buttons-container {
      margin-top: 1rem;
      margin-left: 0;

      app-nav-button {
        width: 100% !important;
        flex: 1;
      }
    }
  }
}

@media (max-width: 600px) {
  .info-body {
    flex-direction: column;
  }
}
