.nav-footer-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.single-button-spacing {
  justify-content: flex-end !important;
}

.return-button {
  z-index: 10;
}
