<div class="nav-footer-container">
  <app-nav-button *ngIf="previousButton && (!nextButton || nextButton.url !== previousButton.url)" [localizationString]="previousButton.localizedText" matIconBefore="arrow_back_ios" [routerUrl]="'./../' + previousButton.url"></app-nav-button>

  <app-nav-button class="return-button" localizationString="SHARED.RETURN_BUTTON" [routerUrl]="returnUrl"></app-nav-button>


  <app-nav-button *ngIf="nextButton" [localizationString]="nextButton.localizedText" matIconAfter="arrow_forward_ios" [routerUrl]="'./../' + nextButton.url"></app-nav-button>
</div>
