@media only screen and (max-width: 1000px) {
  .centered-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem) !important;
  }
}

.body-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

.centered-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 60rem;
  overflow: auto;
}
