@use "@angular/material" as mat;
@import "./borders.scss";
@import "./common.scss";
@import "./effects.scss";
@import "./flex.scss";
@import "./positioning.scss";
@import "./shared.scss";
@import "../theme/theme-variables.scss";

html, body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Helvetica Neue", sans-serif;
}

app-root {
  height: inherit;
  width: 100%;
}

:root {
  --header-height: 82px;
  --footer-height: 48px;
}

.mat-body-large, .mat-typography .mat-body-large, .mat-typography {
  font: 400 1rem / 1.5rem Helvetica, sans-serif !important;
  letter-spacing: .031rem !important;
}
