@use "@angular/material" as mat;
@import "./borders.scss";
@import "./common.scss";
@import "./effects.scss";
@import "./flex.scss";
@import "./positioning.scss";
@import "./shared.scss";
@import "../theme/theme-variables.scss";

html,
body {
  height: 100%;
  background-color: #f8f8f8;
  overflow: auto;
}

html {
  min-height: 600px;
  min-width: 1000px;
}

body {
  display: flex;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  @include mat.all-component-densities(-1);
}

app-root {
  height: inherit;
  width: 100%;
}

:root {
  --problem-background: rgba(255, 0, 0, 0.2);
}
