@use "@angular/material" as mat;
@import "@angular/material/theming";
@import "./palettes.scss";
@include mat-core();

$typography: mat.define-typography-config();

$theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($palette),
      accent: mat-palette($palette)
    ),
    typography: $typography,
    density: 0
  )
);

@include angular-material-theme($theme);
