<div class="outer-container">

  <div class="header">
    <img class="linkedin-icon hover-glow" src="../../../../assets/icons/linkedin.svg" alt="LinkedIn" (click)="openLinkedIn()">
    <img class="github-icon hover-glow" src="../../../../assets/icons/github.svg" alt="Github" (click)="openGithub()">
    <app-language-selector ></app-language-selector>
  </div>

  <div class="router-outlet-container" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" *ngIf="!loadingRouteConfig">
    <router-outlet #o="outlet"></router-outlet>
  </div>

  <app-loading-spinner *ngIf="loadingRouteConfig"></app-loading-spinner>

  <div class="footer">
    @2024 divaldojr.vercel.app
  </div>
</div>
