<main>
  <header>
    <img
    class="linkedin-icon hover-glow"
    src="../../../../assets/icons/linkedin.svg"
    alt="LinkedIn"
    tabindex="0"
    (click)="openLinkedIn()"
    (keydown)="onKeydown($event, openLinkedIn)"
    matTooltip="{{ 'SHARED.LINKEDIN' | translate }}">

  <img
    class="github-icon hover-glow"
    src="../../../../assets/icons/github.svg"
    alt="Github"
    tabindex="0"
    (click)="openGithub()"
    (keydown)="onKeydown($event, openGithub)"
    matTooltip="{{ 'SHARED.GITHUB' | translate }}">
    <app-language-selector [borderColor]="'white'" [compactScreenWidthThreshold]="400"></app-language-selector>
  </header>

  <div class="router-outlet-container" [@slidePages]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <footer>
    {{'@2024 divaldojr.vercel.app'}}
  </footer>
</main>
