.outer-container {
  color: var(--primary-text) !important;
  padding: 0 !important;
  overflow: auto !important;

  background-color: rgb(27, 27, 27);

  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .router-outlet-container {
    flex: 1;
  }

  .header {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    align-self: end;
    height: 82px;

    .github-icon, .linkedin-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      fill: white;
      cursor: pointer;
    }

    .linkedin-icon {
      border-radius: 0.5rem;
    }

    .github-icon {
      border-radius: 50%;
    }
  }

  .footer {
    display: flex;
    height: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-end;
    align-self: end;
    height: 3rem;
  }
}

.router-outlet-container {
  width: inherit;
  overflow: hidden;
}

router-outlet ~ * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
