::ng-deep app-loading-spinner {
  display: flex;
  height: 100%;
  width: 100%;

  .white-spinner .mat-mdc-progress-spinner circle {
    stroke: white;
  }

  .black-spinner .mat-mdc-progress-spinner circle {
    stroke: black;
  }
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
