<div class="outer-container">
  <div class="centered-container">
    <div class="title-header corner-borders hover-glow-text">
      {{ 'COMPLEMENTARY_EDUCATION.TITLE' | translate }}
    </div>

    <div class="complementary-education-container corner-borders">
      <div class="complementary-education-item hover-glow-text" *ngFor="let item of ComplementaryEducation">
        <div class="title">
          <span class="bold">{{item[currentLanguage].title}}</span> - <span class="institute" [class.clickable]="!!item[currentLanguage].instituteURL" (click)="openLink(item[currentLanguage].instituteURL || '')">{{item[currentLanguage].institute}}</span>
        </div>
        <div class="timespan">
          {{ item[currentLanguage].startDate }}<span *ngIf="item[currentLanguage].present || item[currentLanguage].endDate"> - {{ item[currentLanguage].endDate || ('COMPLEMENTARY_EDUCATION.PRESENT' | translate) }}</span>
        </div>
        <div class="duration" *ngIf="item[currentLanguage].hours">{{ 'COMPLEMENTARY_EDUCATION.DURATION' | translate }}: {{item[currentLanguage].hours}} {{ 'COMPLEMENTARY_EDUCATION.HOURS' | translate }}</div>

        <div class="description" *ngIf="item[currentLanguage].description">{{item[currentLanguage].description}}</div>

        <div class="credential-button" *ngIf="item[currentLanguage].credential">
          <app-nav-button localizationString="SHARED.CREDENTIAL" [disableRouting]="true" (click)="openLink(item[currentLanguage].credential!)"></app-nav-button>
        </div>
      </div>
    </div>

    <app-nav-footer [previousButton]="{ localizedText: 'ACADEMIC_HISTORY.TITLE', url: paths.ACADEMIC_HISTORY}" [nextButton]="{ localizedText: 'CAREER_HISTORY.TITLE', url: paths.CAREER_HISTORY}"></app-nav-footer>
  </div>
</div>
