::ng-deep app-nav-button {
    display: flex;
    max-height: 6rem;
}

.icon-before {
    margin-right: 1rem;
}

.icon-after {
    margin-left: 1rem;
}

.button-container {
    display: flex;
    width: 100%;
    min-height: 64px;
    height: 100%;
    border: solid 4px white;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
