.outer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flag-container {
  height: 2rem;
  opacity: 0.7;
  border-radius: 50%;

  img {
    height: 2rem;
  }
}

.flag-container:not(:last-of-type) {
  margin-right: 1rem;
}

.selected {
  opacity: 1 !important;
  border: solid 4px;
}
